* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.centered{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.txt{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
}
.size{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Footer */
.sosMedBox{
    width: 12.5vw;
    height: 3.5vw;
    justify-content: space-between;
}
.footer{
    position: relative;
    height: 16vw;
    min-width: 100%;
    background-color: #AAEAF9;
    align-items: flex-end;
    text-align: center;
}
.footerTxt1{
    font-size: 1.3vw;
    line-height: 1.5vw;
    color: #0077B6;
}
.footerTxt2{
    font-size: 1.1vw;
    line-height: 2.5vw;
    color: #0077B6;
}
.footerTxt3{
    font-size: .8vw;
    line-height: 2.5vw;
    color: #0077B6;
}
.sosmedLogo{
    width: 2vw;
    height: 2vw;
}
.logo{
    width: 10vw; 
    height:5vw;
}

/* Desktop */
@media only screen and (min-width: 833px){
    
    /* Header */
    .fugemylogo{
        display: flex;
        justify-content: left;
        position: absolute;
        left: 0;
        padding: 0.4vw 1.5vw;
    }
    .profile{
        justify-content: right;
        padding: 0.5vw 0.8vw;
    }
    .header{
        display: flex;
        justify-content: right;
        align-items: center;
        position: fixed;
        left: 0vw;
        width: relative;
        height: 5vw;
        right: 0vw;
        list-style-type: none;
        background-color: #83DBEE;
    }
    #myLinks{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #myLinks2{
        display: none;
    }
    #myLinks3{
        display: none;
    }
    .hamburger{
        display: none;
    }
    .button {
        background-color: #83DBEE;
        border: none;
        color: white;
        padding: .5vw 2vw;
        text-align:center;
        display: inline-block;
        font-family: 'Quicksand';
        font-weight: 500;
        font-size: 1vw;
        align-items: center;
        justify-content: center;
    }
    .button2{
        display: none;
    }
    span .button:hover{
        height: 5vw;
        background-color: #73CDE1;
    }
    .profilelogo{
        width:4vw;
    }
    
    /* Content */
    .responsive-3-grid{
        display: none;
    }
    .wrapper{
        width: 100%;
        height: 34.4vw;
    }
    .container{
        height: 30vw;
        width: 85vw;
        justify-content: space-around;
        padding-top: 5vw;
    }
    .categories{
        height:15vw;
        width: 9vw;
        text-align: center;
    }
    .ll-font{
        font-size: 1.5vw;
        color: #0077B6;
        background: none;
        border: none;
        padding-top: 2vw;
    }
    .ll-font:hover{
        text-decoration: underline;
    }
    
    /* resize image */
    .width-category-img{
        width: 10vw;
    }
}


/* Tablet */
@media only screen and (max-width: 832px) and (min-width: 360px){
     
    /* Header */
    .fugemylogo{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 0;
        padding: 2.5vw 0vw;
        height: 0.5vw;
    }
    .profile{
        justify-content: right;
        padding: 0.8vw 1vw;
    }
    .header{
        display: flex;
        justify-content: right;
        position: fixed;
        top: 0vw;
        left: 0vw;
        width: relative;
        height: 5vw;
        right: 0vw;
        list-style-type: none;
        padding: 0vw;
        background-color: #83DBEE; 
    }
    #myLinks{
        display: none;
    }
    #myLinks2{
        justify-content: right;
        height: 100vh;
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: #83DBEE;
    }
    #myLinks3{
        display: none;
    }
    .hamburger{
        display: block;
        width: 2vw;
        padding-top: 0.5vw;
    }
    .buttonActivate{
        justify-content: right;
        background-color: #73CDE1;
        border: none;
        color: white;
        text-align: center;
        display: inline-block;
        font-family: 'Quicksand';
        font-weight: 500;
        font-size: 1vw;
    }
    .button2 {
        background-color: #83DBEE;
        border: none;
        color: white;
        justify-content: right;
        text-align: center;
        display: inline-block;
        font-family: 'Quicksand';
        font-weight: 500;
        font-size: 1vw;
    }
    .button {
        display: none;
    } 
    .header #myLinks {
        display: block;
    }
    .header a {
        color: white;
        padding: 1.4vw 1.6vw;
        text-decoration: none;
        font-size: 1vw;
        display: block;
    }
    .header a.icon {
        display: block;
        position: absolute;
        right: 0.5vw;
        top: 0.5vw;
        padding: 0.8vw 1vw;
    }
    .button2 a:hover{
        display: flex;
        height: 1vw;
        width: 4vw;
        background-color: #73CDE1;
    }
    .profilelogo{
        display: none;
    }

    /* Content */
    .responsive-6-grid{
        display: none;
    }
    .wrapper{
        width: 100%;
        height: 70vw;
    }
    .container{
        height: 65.6vw;
        width: 70vw;
        justify-content: space-around;
    }
    .categories{
        height:24vw;
        width: 16vw;
        text-align: center;
        margin-top: 6vw;
    }
    .ll-font{
        font-size: 2.4vw;
        color: #0077B6;
        background: none;
        border: none;
        padding-top: 2vw;
    }
    .ll-font:hover{
        text-decoration: underline;
    }
    
    /* resize image*/
    .width-category-img{
        width: 15vw;
    }
}

/* Phone */
@media only screen and (max-width: 360px){
    /* Header */
    .fugemylogo{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 0;
        padding: 2.5vw 0vw;
        height: 0.5vw;
    }
    .profile{
        justify-content: right;
        padding: 0.8vw 1vw;
    }
    .header{
        display: flex;
        justify-content: right;
        position: fixed;
        top: 0vw;
        left: 0vw;
        width: relative;
        height: 5vw;
        right: 0vw;
        list-style-type: none;
        padding: 0vw;
        background-color: #83DBEE;  
    }
    #myLinks{
        display: none;
    }
    #myLinks2{
        display: none;
    }
    #myLinks3{
        justify-content: right;
        height: 100vh;
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: #83DBEE;
    }
    .hamburger{
        display: block;
        width: 2vw;
        padding-top: 0.5vw;
    }
    .buttonActivate{
        justify-content: right;
        background-color: #73CDE1;
        border: none;
        color: white;
        text-align: center;
        display: inline-block;
        font-family: 'Quicksand';
        font-weight: 500;
        font-size: 1vw;
    }
    .button2 {
        background-color: #83DBEE;
        border: none;
        color: white;
        justify-content: right;
        text-align: center;
        display: inline-block;
        font-family: 'Quicksand';
        font-weight: 500;
        font-size: 1.4vw;
    }
    .button {
        display: none;
    }
    .header #myLinks {
        display: block;
    }
    .header a {
        color: white;
        padding: 1.4vw 1.6vw;
        text-decoration: none;
        font-size: 1.4vw;
        display: block;
    }
    .header a.icon {
        display: block;
        position: absolute;
        right: 0.5vw;
        top: 0.5vw;
        padding: 0.8vw 1vw;
    }
    .button2 a:hover{
        display: flex;
        height: 1vw;
        width: 4vw;
        background-color: #73CDE1;
    }
    .profilelogo{
        display: none;
    }

    /* content */
    .responsive-6-grid{
        display: none;
    }
    .wrapper{
        width: 100%;
        height: 104.5vw;
    }
    .container{
        height: 87vw;
        width:78.3vw;
        justify-content: space-around;
    }
    .categories{
        height:34.8vw;
        width: 21.75vw;
        text-align: center;
        margin-top: 8.7vw;
    }
    .ll-font{
        font-size: 3.1vw;
        color: #0077B6;
        background: none;
        border: none;
        padding: 0;
    }
    .ll-font:hover{
        text-decoration: underline;
    }

    /* Footer */
    .footer{
        position: relative;
        height: 20vw;
        min-width: 100%;
        background-color: #AAEAF9;
        align-items: flex-end;
        text-align: center;
    }
    .footerTxt1{
        font-size: 2vw;
            line-height: 2vw;
        color: #0077B6;
    }
    .footerTxt2{
        font-size: 1.8vw;
        line-height: 3vw;
        color: #0077B6;
    }
    .footerTxt3{
        font-size: 1.5vw;
        line-height: 3vw;
        color: #0077B6;
    }

    /* resize image*/
    .width-category-img{
        width: 18.7vw;
    }
}